/* Здесь будут храниться стили нашего сайта */
*{
	color: #fff;
	font-family: Roboto;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
header{
	height: 100vh;
	color: #fff;
	background: url('../img/computer_photo2.jpg') no-repeat center;
	background-attachment: cover;
	background-position: right right;
}
.header-col{
	padding-top: 200px;
}
.header-pre-tittle{
	font-size: 18px;
}
.header-tittle{
	font-size: 38px;
	font-weight: 700;
	line-height: 36.81px;
	margin: 20px 0 ;
}
.header-text{
	font-size: 18px;
	font-weight: 400;
}
.header-button{
	width: 200px;
	height: 50px;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	border: 0;
}
.header-button-block{
	max-width: 210px;
	margin-top: 33px;
}
header small{
	margin-top: 9px;
	font-size: 12px;
	text-align: center;
	display: block;
}
.portfolio{
	background-color: #ddd;
	padding: 44px 0 71px;
}
.portfolio-block{
	background-color: #fff;
	padding: 29px 0 44px;
}
.portfolio-tittle,.portfolio-subtittle{
	text-align: center;
} 
.portfolio-tittle{
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.portfolio-subtittle{
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
	margin: 10px 0 30px;
}

.portfolio h3{
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 16px;
}
.portfolio p{
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0;
}
.portfolio a{
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.portfolio-col-1{
	padding-left: 50px
}
.portfolio-col-2{
	padding-right: 50px;
}
footer{
	background-color: #3a7dfd;
	color: #fff;
	padding: 60px 0 110px;
}
.footer-author{
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
}
footer p{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}
.social-block{
	text-align: center;
	display: inline-block;
	margin: 0 15px;
}
.social-block a{
	margin: 0 13px;
}
.socila-block img{
	width: 40px;
	height: 40px;
}
.footer-feedback{
	text-align: center;
}
.footer-button{
	border-radius: 24px;
	border: 1px solid #ffffff;
	background-color: #3a7dfd;
	padding: 0px 40px;
	font-size: 18px;
	font-weight: 400;
	line-height: 39.8px;
}
.footer-col{
	display: flex;
	align-items: center;
	flex-direction: column;
}